<h2>Post A New Message</h2>
<div class="container">

<%= render "form.html", Map.put(assigns, :action, message_path(@conn, :create)) %>
<span style="color: Black;"><u><%= link "Back", to: message_path(@conn, :index) %><u></span>

</div>
