<h2>Post A New Message</h2>
<div class="container">

<%= render "form.html", Map.put(assigns, :action, message_path(@conn, :create)) %>
<span><%= link "Back", to: message_path(@conn, :index) %><p style="color: #000;"><u>Back</u></p></span>

</div>
