<h2>Message</h2>
<br>
<div class="">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <%= @message.post %><br>
        <strong><span>@<%= @message.user_id %></span></strong>
      </p>
    </div>
  </div>
</div>
<br>
<span><%= link "Edit", to: message_path(@conn, :edit, @message) %></span>
<br>
<span><%= link "Back", to: message_path(@conn, :index) %></span>
