<div class="container">
  <div class="row">
    <h3><%= @user.email %></h3>
  </div>

  <div class="row">
    <span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
  </div>

  <div class="row">
    <span><%= link "Back", to: user_path(@conn, :index) %></span>
  </div>
</div>
