<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>snflwr Blog</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--
   <nav class="navbar navbar-dark bg-dark navbar-expand-md">
      <a class="navbar-brand" href="#">Microblog</a>

      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#main-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
	      <%= link "Messages", to: message_path(@conn, :index), class: "nav-link" %>
          </li>
          <li class="nav-item">
              <%= link "Users", to: user_path(@conn, :index), class: "nav-link" %>
          </li>
        </ul>
      </div>

      <%= if @current_user do %>
        <span class="text-light">
          <%= @current_user.email %> |
          <%= link("logout", to: session_path(@conn, :logout), method: :delete) %>
        </span>
      <% else %>
        <%= form_for @conn, session_path(@conn, :login),
              [as: "user", class: "form-inline w-75"], fn f -> %>
          <input type="text" placeholder="email"
                             class="form-control" name="email">
          <input type="submit" value="Log in" class="btn btn-primary">
        <% end %>
      <% end %>
   </nav> -->

    <div class="container">

      <div class="row">
        <div class="col-sm-12 my-2">
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>

    </div> <!-- container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
